@import "variables";

.navbar {
  a {
    color: white;
    padding-left: 10px;
    &:hover {
      color: white;
    }
  }
}
.container {
  justify-content: flex-start !important;

  input[type="checkbox"] {
    opacity: 0;
  }
  svg {
    fill: white;
  }
}
.done-text {
  text-decoration: line-through;
}
.checkmark {
  width: 10px;
  height: 10px;
  display: inline-block;
  align-items: center;
  border-radius: 10px;
  padding: 7px;
  color: #61677c;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 4px;
}
[class^="fa-check"]:before,
[class*=" fa-check"]:before {
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: -0.3rem;
  /* margin-bottom: .2rem; */
  margin-top: -1.7rem;
  /* position: relative; */
  position: absolute;
}

button.btn.btn-secondary.dropdown-toggle {
  background-color: transparent;
  color: black;
  border: none;
  // weired adjustemnt
  margin-top: -2px;
}
.hidden {
  /* 
  * have to use `display:none` because `visibility: hidden;` 
  *  shows element properties > width, heigh
  */
  display: none !important;
}
.card-header {
  border: none !important;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  input[type="text"] {
    border: none;
    background: transparent !important;
    cursor: text;

    &:focus {
      outline: none;
    }
  }
  .color-picker {
    position: absolute;
    display: inline-flex;
    right: 90px;
    width: 32px;
    height: 32px;
  }

  button.collapse-expand.btn-outline-dark.btn {
    font-family: "fontawesome";
    width: 32px;
    height: 32px;
    display: inline-flex;
    right: 55px;    
    position: absolute;
    line-height: 17px;

    &.cl:after {
      content: "\f096" !important;
    }

    &:after {
      content: "\f068";
      display: inline-block;
      margin-left: -2px;
    }
  }

  .dropdown-menu {
    background-color: #f7f7f7;

    span {
      padding: 0.3em;
      a {
        color: black;
      }
    }
  }
}

.task-settings {
  right: 0px;
  position: absolute!important;
}

.todo-items-item {
  .container {
    padding-left: 0 !important;
  }
}

.todo-items-item .checkmark .fa-check {
  opacity: 0.3;
}

.todo-items-item.done .checkmark .fa-check {
  opacity: 1;
}
.card {
  // important -- width of the <card>
  width: 28rem;
  border: none !important;

  ul {
    background-color: #e9ecef;
  }

  li.todo-items-item.list-group-item {
    display: inherit;
    background-color: transparent;
  }
}

.btn-outline-dark {
  border: none !important;
  cursor: pointer;
}

li.todo-items-item.list-group-item.done {
  background-color: $lightgreen !important;
}
